html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(15, 12, 12);
    background: rgba(255, 255, 166, 0.933);
  }
}

.main-container{
  background: rgb(255, 255, 166, 0.933);
}

.main-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 6rem;
}

.coff-heading{
  color: rgb(21, 18, 18);
  font-size: 7rem;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  gap: 0;
}

i{
  margin-top: 1rem;
  font-size: 1rem;
}

.chai-icon{
  color: #f7771c;
  font-size: 6rem;
  font-weight: 700;
}
.chai-icons{ 
  color: #f7771c;
}

.main-work{
  /* height: 20vh; */
}

input{
  font-size: 3rem;
  text-align: center;
  background: rgba(129, 84, 11, 0.311);
  border-radius: 2rem;
  border: none;
  color: rgb(18, 17, 17);
  /* forced-color-adjust: ; */
}

.buttons{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  gap: 1rem;
  margin-top: 1rem;
}
.buy-coffee{
  appearance: button;
  background-color: #b84401;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #151313;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /* width: 100%; */
}

.buy-coffee:after {
  background-clip: padding-box;
  background-color: #f7771c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buy-coffee:main,
.buy-coffee:focus {
  user-select: auto;
}

.buy-coffee:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.buy-coffee:disabled {
  cursor: auto;
}